#level-1.garden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  border: 2px solid maroon;
  padding: 2px;
  max-width: 700px;
}

#level-1.garden p {
  margin: 0;
  border-radius: 6px;
  padding: 0.4rem 0;
  background: wheat;
  text-align: center;
}

#level-2.garden {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2px;
  max-width: 700px;
}

#level-2.garden p {
  margin: 0;
  border-radius: 6px;
  padding: 0.4rem 0;
  background: wheat;
  text-align: center;
}

#level-2 .peas {
  grid-column: 1 / 5;
}
#level-2 .onions {
  grid-column: 1 / 3;
}
#level-2 .tomatoes {
  grid-column: 3 / 5;
}
#level-2 .lettuce {
  grid-column: 1 /3;
}
#level-2 .carrots {
  grid-column: 3 / 5;
}

#level-3.garden {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px;
  max-width: 700px;
}

#level-3.garden p {
  margin: 0;
  border-radius: 6px;
  padding: 0.4rem 0;
  background: wheat;
  text-align: center;
}

#level-3 .peas {
  grid-column: 1;
}
#level-3 .onions {
  grid-column: 2 / 4;
}
#level-3 .tomatoes {
  grid-column: 1 / 3;
}
#level-3 .lettuce {
  grid-column: 3 /3;
}
#level-3 .carrots {
  grid-column: 1 / 4;
}

#level-4.garden {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2px;
  max-width: 700px;
}

#level-4.garden p {
  margin: 0;
  border-radius: 6px;
  padding: 0.4rem 0;
  background: wheat;
  text-align: center;
}

#level-4 .peas {
  grid-column: 1 /3;
}
#level-4 .onions {
  grid-column: 3;
  grid-row: 1 / 4;
}
#level-4 .tomatoes {
  grid-column: 4;
  grid-row: 1 / 4;
}
#level-4 .lettuce {
  grid-column: 1;
}
#level-4 .carrots {
  grid-column: 2;
}
